.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
}

.contacts-wrapper {
    padding: auto 20px;

    display: flex;
    justify-content: space-between;
    margin-left: var(--large-margin);
}

.contacts .title-wrapper {
    margin-bottom: 50px;
    margin-right: var(--large-margin);
}

.contact-wrapper-title {
    font-family: AvenirRegular;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 24px;
}

.contacts-info {
    max-width: 25%;
    padding-right: 140px;
}

.contacts-info .item-wrapper {
    display: flex;
    margin-bottom: 16px;
} 

.contacts-info .item-wrapper.location {
    align-items: flex-start;
}

.contacts-info .item-wrapper:last-child {
    margin-bottom: 0;
}

.contacts-info .item-wrapper img {
    width: 32px;
    margin-right: 16px;
}

.contacts-info .item-wrapper a {
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
    color: #000;
}

.contacts-form {
    background-color: #F8F8F9;
    width: 50%;
    padding: 80px 100px 90px 32px;
}

.contacts-form-header {
    display: flex;
    margin-bottom: 54px;
}

.contacts-form-header input:first-child {
    margin-right: 32px;
}

.contacts-form textarea,
.contacts-form input {
    width: 50%;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--main-color);
    box-sizing: border-box;
    font-size: 24px;
    padding-bottom: 4px;
}

.contacts-form textarea {
    padding-top: 10px;
    width: 100%
}

.contacts-btn {
    margin-top: 60px;
    padding: 8px 60px;
    align-self: flex-end;
    width: auto;
    float: right;
}

.download-apps {
    display: flex;
    margin-top: 54px;
}

.download-apps-img-wrapper:last-child {
    margin-left: 12px;
}


@media only screen and (max-width: 1439px) {

    .contacts-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 1023px) {

    .download-apps img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {

		.contacts-info {
			max-width: 100%;
			padding-right: 140px;
		}

		.contacts-info .item-wrapper a {
			font-size: 18px;
			line-height: 24px;
		}

		.contacts-info .item-wrapper img {
			width: 24px;
			height: 24px;
		}

    .contact-wrapper-title {
			font-size: 18px;
			line-height: 24px;
		}
}   