.main-header {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: darkblue;
	font-size: 40px;
	font-family: AvenirBold;

	margin-left: 0px !important;
	margin-right: 240px !important;

	display: flex;
}

.navigation {
	width: 100%;	
}

.navigation ul {
	list-style: none;
	display: flex;
	text-transform: uppercase;
}

.navigation ul li {
	padding-right: var(--default-padding);
	cursor: pointer;
	word-wrap: normal;
}

.navigation ul li:last-child {
	padding-right: 0;
}

.navigation ul li:hover {
	color: var(--main-color);
	text-decoration: underline;
}

@media only screen and (min-width: 1439px) {
  .logo {
    margin-right: 80px !important;
    margin-left: 20px !important;
  }
}

@media only screen and (max-width: 1439px) {
	.logo {
		margin-right: 80px !important;
		margin-left: 20px !important;
	}
}

@media only screen and (max-width: 1023px) {

	.main-header {
		height: auto;
	}

	.logo {
		margin-right: 0px !important;		
		margin-left: 0 !important;
	}

	.navigation ul {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
}